/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, rgba(255, 208, 0, 0.658) 0%, rgb(10, 92, 17) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card img {

    width: 150%;
    height: 150px;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    font-size: 1em;
    color: #666;
}

footer {
    background: linear-gradient(90deg, rgb(10, 92, 17) 0%, rgb(255, 208, 0, 0.658) 100%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    .card h2 {
        font-size: 1.25em;
    }

    .card p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;

    }

    .card h2 {
        font-size: 1.1em;
    }

    .card p {
        font-size: 0.8em;
    }
}